body{
            max-width: 1600px;
            margin: 0 auto;
            background-color: antiquewhite;
        }
header{
    background-color: beige;
}
nav a:hover{
    text-align: center;
    background-color: rgb(203, 118, 14);
    color: black;
    text-decoration: none;
}
#hero-msg h1{
    text-align: center;
}
#hero-msg h4{
    text-align: center;
}
.home-title{
    color: azure;
}
.book, .join{
    color: black;
    text-decoration: underline;
}
.book:hover, .join:hover{
    color: rgb(49, 49, 2);
}
.button-box{
    text-align: center;
}
.msg h2{
color: black;
}
.msg p{
color: black;
}
footer{
color: black;
}
footer a{
color: black;
text-decoration: none;
}
footer a:hover{
    color: rgb(49, 49, 2);
}
main section{
    text-align: center;
}
#background{
    height: 725px;
}
.icon{
    width: 80px;
}
.logo{
    width: 80px;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
} 


