 body{
    margin: 0;
    font-size: 25px;
 }
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.grey{
    background-color: gray;
    grid-column: 2/3;
    grid-row: 1/3;

}
.cherries{
    grid-column: 1/2;
    grid-row: 1/3;
}

.tart{
    grid-column: 1/3;
    grid-row: 1/2;
    font-size: 7.4em;
    text-align: center;
    letter-spacing: 10px;
     font-weight: bold;
}

.cherry{
 grid-column: 2/3;
 grid-row: 2/3;
 text-align: center;
 font-size: 5em;
 letter-spacing: 10px;
 font-weight: bold;
 color: darkred;
}